<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>ServletAdaptor</servlet-name>
		<servlet-class>com.sun.jersey.server.impl.container.servlet.ServletAdaptor</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletAdaptor</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>

  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>
      	io.swagger.jaxrs.json,
      	io.swagger.jaxrs.listing,
      	com.domain.mm.rd.massnewsku.ms</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
    	<param-name>jersey.config.server.provider.classnames</param-name>
    	<param-value>
			io.swagger.jaxrs.listing.ApiListingResource.class,
    	    io.swagger.jaxrs.listing.SwaggerSerializers.class,            
            com.domain.mm.rd.massnewsku.ms.utils.NotFoundExceptionHandler
    	</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>DefaultJaxrsConfig</servlet-name>
    <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
    <init-param>
      <param-name>api.version</param-name>
      <param-value>1.0.0</param-value>
    </init-param>
    <init-param>
      <param-name>swagger.api.title</param-name>
      <param-value>Swagger Server</param-value>
    </init-param>
    <init-param>
      <param-name>swagger.api.basepath</param-name>
      <param-value>/SampleProjectForVerification/rs</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
<!-- 
	<servlet>
		<servlet-name>SwaggerBootstrap</servlet-name>
		<servlet-class>com.domain.mm.rd.massnewsku.Bootstrap</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
 -->
  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/swagger/docs/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>ApiOriginFilter</filter-name>
    <filter-class>com.domain.mm.rd.massnewsku.ms.ApiOriginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApiOriginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
