package {{package}};

{{#imports}}import {{import}};
{{/imports}}

import io.swagger.annotations.*;
import com.fasterxml.jackson.annotation.JsonProperty;

import java.util.Objects;
{{#models}}

{{#model}}{{#unescapedDescription}}
/**
* {{unescapedDescription}}
**/{{/unescapedDescription}}
@ApiModel(description = "{{{description}}}")
{{>generatedAnnotation}}
public class {{classname}} {{#parent}}extends {{{parent}}}{{/parent}} {
{{#vars}}{{#isEnum}}
	public enum {{datatypeWithEnum}} {
		{{#allowableValues}}{{#values}} {{.}}, {{/values}}{{/allowableValues}}
	};
	public {{{datatypeWithEnum}}} {{name}} = {{{defaultValue}}};{{/isEnum}}{{^isEnum}}
	public {{{datatype}}} {{name}} = {{{defaultValue}}};{{/isEnum}}{{/vars}}


}
{{/model}}
{{/models}}
